@media only screen and (max-width: 1600px) {
    .landingPlayer {
        width: 50%;
    }
}
@media only screen and (max-width: 1200px) {
    .landingPlayer {
        width: 65%;
    }
    .mainPage{
        min-height: 650px;
        min-width: 650px;
    }
}

@media only screen and (max-width: 768px) {

    html {
    font-size: 16px;
    }
    .mainPage{
        min-height: 350px;
        min-width: 350px;
    }
    .landingPlayer {
        width: 80%;
    }
    .landingPlayer p{
        font-size: 1.6rem;
    }
    .opponentSelect {
        font-size: 1.2 rem;
    }
    .landingHeader{
        font-size:3rem;
    }
    p.playerName {
        margin-left: 20%;
        margin-right: 1%;
        width: 57%;
    }
    .header h1{
        font-size:2.0rem;
    }
    .statsContainer {
        height:unset;
        position:unset;
    }
    .statsContainer > .resetContainer{
        width: 30%;
        height: 30%;
        font-size:2rem;
        position: unset;
        position: absolute;
        top: 2.5%;
        left: 2.5%;
        height: unset;
        font-size: 1.1em;
        width: unset;
        bottom: unset;
        min-width: 18%;
    }
    .header{
        top:2.5%;
        position:relative;
        margin:unset;
    }
    .statsContainer p, .statsContainer h2{
        display:none;
    }
    .mainContainer{
        width: 90%;
        height: 86.5%;
        display: block;
        margin: 5% auto;
    }
    .gameContainer{
        height:87%;
    }
    .winMsg {
        width: 80vmin;
        margin-top: 7%;
    }
    .winBox {
        height: 13%;
        width: 80%;
        margin: auto;
        font-size: 2.5rem;
        text-align: center;
    }
    .playerImg1, .playerImg2, .tokenSpot {
        min-height: 50px;
        min-width: 50px;
    }
}


@media only screen and (max-width: 480px) {
	html {
        font-size: 13px;
    }

    .landingPlayer{
        /* height:40%; */
        margin: 0 auto;
    }
    .playerName2 {
        margin-left: 8%;
    }

    div.playTo{
        margin: 5% auto;
    }
    .landingPlayer,
    .bestOfMsg{
       font-size: 1.6rem;
    }
    .landingHeader{
        font-size:3rem;  
    }

    p.playerName {
        font-size: 1.7rem;
        margin-left: 5%;
        margin-right: 1%;
        width: 60%;
    }
    .tokens{
        height: 25vh;
        width: 25vh;
    }
    .playerContainer{
        margin-bottom: 3%;
    }
    .statsContainer > .resetContainer{
        left: 1%;
        top: 1%;
    }
}

@media only screen and (max-width: 360px) {
    html {
        font-size: 10px;
    }
    div.playerImg1, div.playerImg2 {
        width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 10px;
    }
    .playerName2 {
        margin-left: 0%;
    }
}

@media only screen and (min-width: 760px) {
    .tokens{
        flex-flow: row;
        height: 26vh;
        width: 50vh;
        min-height: 200px;
        min-width: 400px;
    }
}