html {
    font-size: 3vmin;
    /*overflow: hidden;*/
}

html * {
    margin: 0;
    padding: 0;
    font-family: 'Freckle Face', cursive;
    color:white;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/scenery-pictures-3.jpg");
    background-size: cover;
}

h1{
    font-size: 3rem;
}

.landingPage {
    width: 100vmin;
    height: 100vh;
    margin: 0 auto;
}

.landingHeader {
    height:10%;
    width:100%;
    font-size: 2rem;
    text-align:center;
    text-shadow: 3px 3px 0px #010c10;
}

.landingBody {
    height:90%;
    width:100%;
}

.landingPlayer {
    height: 45%;
    background-color: rgba(22,22,22,0.5);
    border-radius: 10px;
    margin-bottom: 2%;
    /*padding: 1% 5%;*/
}

::placeholder {
    color:whitesmoke;
}

.nameContainer{
    width: 100%;
    margin: 1% auto;
    font-size: 0;
}
.nameContainer > div {
    width: 47%;
    height: 20%;
    display: inline-block;
    margin-top: 1%;
}

div.player1Img, div.player2Img {
    height: 60%;
}

.tokenSpot{
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
    z-index: 49;
    margin: 0 auto;
    border-left: 1px ridge #c8c8c8;
    border-right: 2px ridge beige;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landingPlayer p, .landingPlayer input, .landingPlayer button {
    font-size: 1.5rem;
    text-align: center;
    color: lightblue;
    text-shadow: 1px 1px 0px #010c10;
}
.playerNameContainer{
    width:100%;
}
.playerName1, .playerName2 {
    font-size: 1.1rem;
    margin-left: 25%;
    border: outset 3px white;
    border-radius: 10px;
    width: 50%;
    color: white;
    display: inline-block;
    background-color: rgba(75, 189, 271, .3);
}

.playerName2 {
    margin-right: 1%;
    margin-left: 15%;
}

#playerName2{
    pointer-events: none;
}

.playerImg1, .playerImg2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.playTo {
    width: 100%;
    height: 20%;
    display: block;
    margin: 5% auto;
}

div.playTo > select {
/*    appearance: none;
    -webkit-appearance: none;*/
    padding: 1px 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

div.playTo > select, div.playTo > p {
    font-size: 1.5rem;
    display: inline-block;
    margin: 1% 2%;
    color: #e80c0c;
}

div.playTo > p {
    margin: auto;
}

div.opponentList{
    width: 20%;
    height: 100%;
    display: inline-block;
}
.opponentSelect{
    font-size: 1.5rem;
}
div.opponentList > select {
    /*padding: 1px 15px;*/
    text-align: center;
    display: inline-block;
    margin: 0 0.2rem;
    color: #e80c0c;
    cursor: pointer;
    border-radius: 10px;
}

.others {
    color: brown;
}

div.playTo > p {
    padding-left:  15%;
    padding-right: 2%;
}

.tokens {
    height: 35vh;
    width: 35vh;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: content-box;
}

.tokens div {
    height: 37%;
    width: 37%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.tokens div:hover {
    -webkit-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    -moz-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    box-shadow: 0px 0px 50px rgba(5,173,30,0.9);
}

.token1 {
    background-image: url('../assets/token1.png');
}

.token2 {
    background-image: url('../assets/token2.png');
}

.token3 {
    background-image: url('../assets/token3.png');
}

.token4 {
    background-image: url('../assets/token5.png');
}

.start {
    height: 10%;
    width: 100%;
    text-align: center;
}

.startBtn {
    display: inline-block;
    width: 15%;
    min-width: 70px;
    height: 100%;
    color: #eaefee;
    border-radius: 20%;
    background: rgba(75, 189, 271, .3);
    font-size: 1rem;
    text-shadow: 2px 1px 0px #010c10;
}

.startBtn:hover, .resetBtn:hover, .homeBtn:hover {
    -webkit-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    -moz-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    box-shadow: 0px 0px 50px rgba(5,173,30,0.9);
}

.mainPage{
    width:100vmin;
    height:100vmin;
    margin: 0 auto;
    font-size: 0;
    text-shadow: 2px 3px 0px #010c10;
}

.header{
    height:10%;
    width:80%;
    margin-left:20%;
    text-align:center;
}

.statsContainer{
    width: 20%;
    height: 90%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
    padding-top: 2%;
    position: relative;
}

.statsContainer > p {
    font-size: 1rem;
}

.statsContainer h1 span {
    font-size: 2rem;
    margin-top: 5%;
}

.resetBtn, .homeBtn {
    width: 80%;
    height: 10%;
    color: #eaefee;
    border-radius: 20%;
    background: rgba(75, 189, 271, .3);
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    bottom: 30%;
    left: 2%;
    text-shadow: 2px 1px 0px #010c10;
}

.mainContainer{
    width:80%;
    height: 90%;
    display:inline-block;
}

.playerContainer{
    height: 10%;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}


.player1, .player2{
    height:90%;
    width: 49%;
    display: inline-block;
    text-align:center;
    border-radius: 10px;
    background-color: rgba(75, 189, 271, .4);
    font-weight: bold;
    font-size: 1rem;
    padding-top: 2%;
    padding-left: 2%;
    background-repeat: no-repeat;
    background-size: contain;
}

.activePlayer{
    font-weight:normal;
    background-color: rgba(75, 189, 271, .7);
    border: none;
    font-size: 1.5rem;
    vertical-align: center;
    padding-top:1%;
    padding-left: 2%;
    background-repeat: no-repeat;
    background-size: contain;
}

.gameContainer{
    height: 75%;
    width: 100%;
    background-color: rgba(75, 189, 271, .3);
    border-radius: 5%;
}

.tokenHoverContainer{
    width: 84%;
    height: 14.3%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.tokenHoverContainer > div{
    width: 14.28%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.tokenHoverContainer  img{
    height: 100%;
}

.faux{
    display:none;
    height:100%;
}

.gameboard{
    width: 84%;
    height: 84.5%;
    margin:auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    z-index: 50;
}

.gameboard > div{
    border-radius: 50%;
    height: 16.3%;
    width: 14.28%;
    z-index: 49;
    border-left: 1px ridge brown;
    border-right: 2px ridge beige;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.winMsg {
    height: 13%;
    width: 80vmin;
    position: absolute;
    /* right: -28%; */
    /* border: 1px solid red;
    box-sizing: border-box; */
}

#tokenActive {
    position:relative;
    height:100%;
}

.fauxToken{
    height:100%;
    transform:translateX(25%);
}

.winBox{
    height: 13%;
    width: 80%;
    margin: auto;
    font-size: 1.8rem;
    text-align: center;
}

.disableClicks{
    pointer-events: none;
}

.particle {
	position: absolute;
    width: 2px; height: 2px;
    left: 50%;
    top: 100%;
    transition-timing-function: linear;
    z-index: 100;
}

.hide{
    display:none;
}