html {
    font-size: 24px;
}

html * {
    margin: 0;
    padding: 0;
    font-family: 'Freckle Face', cursive;
    color:white;
    box-sizing: border-box;
}
button, input, select{
    cursor: pointer;
    padding: 1%;
}
button:hover {
    -webkit-box-shadow:  0px 0px 25px rgb(212, 237, 216);
    -moz-box-shadow:  0px 0px 25px rgb(212, 237, 216);
    box-shadow: 0px 0px 25px rgb(212, 237, 216);
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/scenery-pictures-3.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 2.5rem;
}

.landingPage {
    /*width: 100vmin;*/
    height: 100vh;
    /*margin: 0 auto;*/
    min-height: 280px;
}

.landingPlayer > p {
    margin: 3% auto;
    text-align: center;
    font-size: 1.5rem;
}

.landingHeader {
    height:10%;
    min-height: 85px;
    /*width:100%;*/
    /*font-size: 2rem;*/
    text-align:center;
    text-shadow: 3px 3px 0px #010c10;
}

.landingBody {
    height:90%;
    /*width:100%;*/
}

.landingPlayer {
    /* height: 90%; */
    background-color: rgba(22,22,22,0.5);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 1.5%;
    width:40%;
}

::placeholder {
    color:whitesmoke;
}

.nameContainer{
    width: 100%;
    /*margin: 1% auto;*/
    font-size: 0;
    /* height: 15%; */
}
.playerContainer1, .playerContainer2 {
    /*width: 47%;*/
    height: 20%;
    display: inline-block;
    /* margin-bottom: 5%;   */
    margin-bottom: 0.5%;  
}

.playerImg1, .playerImg2 {
    height: 12vh;
    min-height: 75px;
    min-width: 75px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4%;
}
.playerContainer1, .playerImg1, .playerContainer2, .playerImg2 {
    width: 50%;
    text-align: center;
}

.tokenSpot{
    border-radius: 50%;
    height: 100%;
    width: 12vh;
    min-height: 75px;
    min-width: 75px;
    z-index: 49;
    margin: 0px auto;
    border-left: 1px ridge #c8c8c8;
    border-right: 2px ridge beige;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.instructionMsg, .landingPlayer input, .landingPlayer button {
    font-size: 1.5rem;
    text-align: center;
    color: lightblue;
    text-shadow: 1px 1px 0px #010c10;
}
.instructionMsg{
    height: 15%;
}
.playerNameContainer{
    width:100%;
}
.playerName1, .playerName2 {
    font-size: 1.1rem;
    /*margin-left: 25%;*/
    border: outset 3px white;
    border-radius: 10px;
    /*width: 50%;*/
    color: white;
    display: inline-block;
    background-color: rgba(75, 189, 271, .3);
}

.playerName1, .playerName2 {
    width: 50%;
    /*margin-left: 25%;*/
}

.playerName2 {
    width: 50%;
    /* margin-right: 1%;
    margin-left: 15%; */
}

#playerName2{
    pointer-events: none;
}



.playTo {
    width: 100%;
    height: 8%;
    display: block;
    margin: 1% auto;
    text-align: center;
}

.bestOfOptions {
    appearance: none;
    -webkit-appearance: none;
    padding: 1px 12px;
    text-align: center;
    border-radius: 10px;

}

.bestOfMsg, .bestOfOptions {
    font-size: 1.5rem;
    display: inline-block;
    margin: 1%;
    color: #e80c0c;
}

.spacer, .opponentList{
    height: 15%;
    width: 50%;
    display: inline-block;
    text-align: center;
}
.opponentList {
    vertical-align: top;
}
.opponentSelect {
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    display: inline-block;
    color: #e80c0c;
    border-radius: 10px;
    font-size: 1rem;
    text-align-last:center;

}

.others {
    color: brown;
}

div.playTo > p {
    /* padding-left:  15%;
    padding-right: 2%; */
    display:inline-block;
    font-size: 1.5rem;
}

.tokens {
    height: 30vh;
    width: 30vh;
    min-height: 150px;
    min-width: 150px;
    margin: 5% auto;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: content-box;
}

.tokens div {
    display: inline-block;
    height: 45%;
    width: 45%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

/* .tokens div:hover {
    -webkit-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    -moz-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    box-shadow: 0px 0px 50px rgba(5,173,30,0.9);
} */
.token1:hover, .token2:hover, .token3:hover, .token4:hover{
    height: 50%;
    width: 50%;
    /* box-shadow: 4px 2px 4px rgb(0,0,0); */
    z-index: 1;
}

.token1 {
    background-image: url('../assets/token1.png');
}

.token2 {
    background-image: url('../assets/token2.png');
}

.token3 {
    background-image: url('../assets/token3.png');
}

.token4 {
    background-image: url('../assets/token5.png');
}

.start {
    height: 10%;
    width: 100%;
    text-align: center;
}

.startBtn, .reselect {
    display: inline-block;
    min-width: 70%;
    height: 30%;
    padding:1%;
    color: #eaefee;
    border-radius: 10px;
    background: rgba(75, 189, 271, .3);
    font-size: 2rem;
    text-shadow: 2px 1px 0px #010c10;
    margin-top: 20px;
}



.mainPage{
    width:100vmin;
    height:100vmin;
    min-height: 800px;
    min-width: 800px;
    margin: 0 auto;
    font-size: 0;
    text-shadow: 2px 3px 0px #010c10;
}

.header{
    /* width:80%; */
    margin-left:20%;
    text-align:center;
}

.statsContainer{
    width: 20%;
    height: 90%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
    padding: 1%;    
    position: relative;
}

.statsContainer > p {
    font-size: 1rem;
}

.statsContainer h1 span {
    font-size: 2rem;
    margin-top: 5%;
}
.resetContainer{
    position: absolute;
    top: 55%;
    width: 80%;
}
.resetMessageContainer{
    display:none;
}
button.disabled{
    pointer-events:none;
    background: rgba(0,0,0,0.2);
}
.yesBtn{
    margin-right: 20%;
}
.confirmResetBtn{
    color: #eaefee;
    border-radius: 10px;
    background: rgba(75, 189, 271, .3);
    font-size: 1rem;
    display: inline-block;
    left: 2%;
    text-shadow: 2px 1px 0px #010c10;
    min-width: 30%;
}
.resetBtn, .homeBtn {
    /* height: 10%; */
    width:100%;
    padding: 1%;
    color: #eaefee;
    border-radius: 10px;
    background: rgba(75, 189, 271, .3);
    font-size: 1rem;
    display: inline-block;
    /* position: absolute;
    bottom: 30%; */
    left: 2%;
    text-shadow: 2px 1px 0px #010c10;
}

.mainContainer{
    width:80%;
    height: 90%;
    display:inline-block;
}

.playerContainer{
    margin-bottom:1%;
}


.player1, .player2{
    height:90%;
    width: 49%;
    display: inline-block;
    text-align:center;
    border-radius: 10px;
    background-color: rgba(75, 189, 271, .4);
    font-weight: bold;
    font-size: 1rem;
    padding: 1%;
    padding-left: 2%;
    background-repeat: no-repeat;
    background-size: contain;
}

.activePlayer{
    font-weight:normal;
    background-color: rgba(75, 189, 271, .7);
    border: none;
    font-size: 1.5rem;
    vertical-align: center;
    padding-top:1%;
    padding-left: 2%;
    background-repeat: no-repeat;
    background-size: contain;
}

.gameContainer{
    height: 75%;
    width: 100%;
    background-color: rgba(75, 189, 271, .3);
    border-radius: 5%;
}

.tokenHoverContainer{
    width: 84%;
    height: 14.3%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.tokenHoverContainer > div{
    width: 14.28%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.tokenHoverContainer  img{
    height: 100%;
}

.faux{
    display:none;
    height:100%;
}

.gameboard{
    width: 84%;
    height: 84.5%;
    margin:auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    z-index: 50;
}

.tokenContainer{
    height: 16.3%;
    width: 14.28%; 
    cursor:pointer; 
}
.tokenContainer > div{
    border-radius: 50%;
    height: 100%;
    width:100%;
    z-index: 49;
    border-left: 1px ridge brown;
    border-right: 2px ridge beige;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.winMsg {
    height: 13%;
    width: 80vmin;
    position: absolute;
    /* right: -28%; */
    /* border: 1px solid red;
    box-sizing: border-box; */
}

#tokenActive {
    position:relative;
    height:100%;
}

.fauxToken{
    height:100%;
    transform:translateX(25%);
}

.winBox{
    height: 13%;
    width: 80%;
    margin: auto;
    font-size: 1.8rem;
    text-align: center;
}

.disableClicks{
    pointer-events: none;
}

.particle {
	position: absolute;
    width: 2px; height: 2px;
    left: 50%;
    top: 100%;
    transition-timing-function: linear;
    z-index: 100;
}

.hide{
    display:none;
}