html {
    font-size: 3vmin;

}

/*@font-face{
    src: url('assets/Nature.ttf');
    font-family: nature;
}*/


html * {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: 'Freckle Face', cursive;
    color:white;
    box-sizing: border-box;
}

body {
    width:100vw;
    height:100vh;
    background-image: url("assets/scenery-pictures-3.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

h1{
    margin: 0;
    font-size: 3rem;
}

*{
    box-sizing:border-box;
}

/*landing page*/
.landingPage {
    border: 1px solid red;
    width:100vmin;
    height:100vmin;
    margin: 0 auto;
}

.landingHeader {
    height:10%;
    width:100%;
    font-size: 2rem;
    background-color:limegreen;
    text-align:center;
}

.landingBody {
    height:90%;
    width:100%;
    background-color: grey;
}

.landingPlayer {
    height: 40%;
    border: 1px dashed blue;
}

.landingPlayer > div {
    width: 50%;
    height: 20%;
    display: inline-block;
    border: 1px dashed blue;
}

div.player1Img, div.player2Img {
    height: 60%;
}

.landingPlayer p, .landingPlayer input, .landingPlayer button {
    font-size: 1rem;
    text-align: center;
}

.landingPlayer input {
    width: 60%;
    margin: 0 5%;
    background-color: blue;
}

.playerImg1, .playerImg2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.playTo {
    width: 80%;
    height: 20%;
    display: block;
    margin: 0 auto;
    border: 1px dashed green;
}

div.playTo > select, div.playTo > p {
    font-size: 1rem;
    display: inline-block;
    color: brown;
}

.others {
    color: brown;
}

div.playTo > p {
    padding-left:  15%;
    padding-right: 2%;
}

.tokens {
    height: 40%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tokens div {
    height: 46%;
    width: 34%;
    border: 1px dashed yellow;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tokens div:hover {
    -webkit-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    -moz-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    box-shadow: 0px 0px 50px rgba(5,173,30,0.9);
}

.token1 {
    background-image: url(assets/token1.png);
}

.token2 {
    background-image: url(assets/token2.png);
}

.token3 {
    background-image: url(assets/token3.png);
}

.token4 {
    background-image: url(assets/token5.png);
}

.start {
    height: 10%;
    width: 100%;
    text-align: center;
}

.startBtn {
    font-size: 1rem;
    color: green;
    display: inline-block;
    width: 15%;
    height: 100%;
    border-radius: 25%;
}

.startBtn:hover {
    -webkit-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    -moz-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
    box-shadow: 0px 0px 50px rgba(5,173,30,0.9);
}

/*main page*/
.mainPage{
    width:100vmin;
    height:100vmin;
    margin: 0 auto;
}

.header{
    height:10%;
    width:100%;
    font-size: 2rem;
    /* background-color:limegreen; */
    text-align:center;
    /*padding-top: 2%;*/
}

.statsContainer{
    width: 20%;
    height: 90%;
    /* background-color: blue; */
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
    padding-top: 2%;
    position: relative;
}

.statsContainer > p {
    font-size: 1rem;
}

.statsContainer h1 span {
    font-size: 2rem;
    margin-top: 5%;
}
/*
.statsContainer * {
    font-size: 1rem;
}*/
.resetBtn {
    width: 80%;
    height: 10%;
    color: darkgreen;
    border-radius: 20%;
    background: rgba(75, 189, 271, .3);
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    bottom: 30%;
    left: 2%;
    /*background-color: (75, 189, 271, .3)*/
}


.mainContainer{
    width:80%;
    height: 90%;
    display:inline-block;
}

.playerContainer{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.player1{
    /* border: 3px solid rgba(169, 166, 166, .5); */
    background-color: rgba(75, 189, 271, .7);
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-left: 2%;
    /*background-image: url('assets/token1.png');*/
    background-repeat: no-repeat;
    background-size: contain;
}

.player2{
    font-weight:normal;
    background-color: rgba(75, 189, 271, .4);
    border: none;
    font-size: 1rem;
    vertical-align: center;
    padding-top:3%;
    padding-left: 2%;
    /*background-image: url('assets/token2.png');*/
    background-repeat: no-repeat;
    background-size: contain;
}
.player1, .player2{
    /* border:1px solid black; */
    height:90%;
    width: 49%;
    display: inline-block;
    text-align:center;
    /* font-size: 1rem; */
}

.gameContainer{
    height: 75%;
    width: 100%;
    background-color: rgba(75, 189, 271, .3);
    border-radius: 5%;
}

.tokenHoverContainer{
    width: 84%;
    height: 14.3%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.tokenHoverContainer > div{
    width: 14.28%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.tokenHoverContainer  img{
    height: 100%;
}
.faux{
    display:none;
    height:100%;
}
.gameboard{
    width: 84%;
    height: 84.5%;
    margin:auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    z-index: 50;
}

.gameboard > div{
    border-radius: 50%;
    height: 16.3%;
    width: 14.28%;
    z-index: 49;
    border-left: 1px ridge brown;
    border-right: 2px ridge beige;
    background-repeat: no-repeat;
    background-size: cover;
}

.winMsg {
    height: 18%;
}

#tokenActive {
    position:relative;
    /*height:;*/
    height:100%;
    /*height:100%; !important;*/
    /*Fix the important later~~~~~~~~~~*/
    #transform:translateX(25%);
}

.fauxToken{
    height:100%;
    transform:translateX(25%);
}

.winBox{
    height: 13%;
    width: 80%;
    margin: auto;
    /* border: 1px solid rgb(169, 166, 166); */
    font-size: 2.5rem;
    text-align: center;
}
/*.activeTokenDiv{*/
    /*position:relative;*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/
.disableClicks{
    pointer-events: none;
}

