html {
    font-size: 3vmin;
}

html * {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    width:100vw;
    height:100vh;
}

*{
    box-sizing:border-box;
}

.mainPage{
    width:90vmin;
    height:90vmin;
    margin: 0 auto;
}

.header{
    height:10%;
    width:100%;
    font-size: 2rem;
    background-color:limegreen;
    text-align:center;
}

.statsContainer{
    width: 20%;
    height: 90%;
    background-color: blue;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: top;
}

.mainContainer{
    width:80%;
    height: 90%;
    display:inline-block;
}

.playerContainer{
    height: 10%;
    width: 100%;
    background-color: red;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.player1{
    border: 3px solid black;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1%;
}

.player2{
    font-weight:normal;
    border: none;
    font-size: 1rem;
    vertical-align: center;
    padding-top:3%;
}
.player1, .player2{
    /* border:1px solid black; */
    height:90%;
    width: 33%;
    display: inline-block;
    text-align:center;
    /* font-size: 1rem; */
}

.gameContainer{
    height:90%;
    width:100%;
    background-color: grey;
}

.tokenHoverContainer{
    width: 84%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    padding-top: 1%;
}

.tokenHoverContainer > div{
    width: 14%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    border: 1px dashed green;
}

.tokenHoverContainer  img{
    height: 100%;
}
.faux{
    display:none;
    height:100%;
}
.gameboard{
    width: 84%;
    height:72%;
    margin:auto;
    display:flex;
    flex-flow: column wrap;
    /*background-color: gold;*/
    justify-content: space-around;
    padding-left: 1%;
}

.gameboard > div{
    border-radius: 50%;
    width: 13%;
    height: 15%;
    background-color: lightcyan;
    border: 1px solid black;


}


.tokenActive {
    position:absolute;
    /*height:;*/
    width:50px;
    height:50px; !important;
    /*Fix the important later~~~~~~~~~~*/
    transform:translateX(25%);
}

.fauxToken{
    height:100%;
    transform:translateX(25%);
}

.winBox{
    height: 10%;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    font-size: 3rem;
    text-align: center;
}