html{
    font-size: 2.5vmin;
}
body{
    width:100vw;
    height:100vh;
    font-size:0;
    margin:0;
}
*{
    box-sizing:border-box;
}

.mainPage{
    width:100%;
    height:100%;
}

.header{
    height:10%;
    width:100%;
    font-size: 2rem;
    background-color:limegreen;
    text-align:center;
}

.statsContainer{
    width: 15%;
    height: 90%;
    background-color: blue;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    vertical-align: top;
}

.mainContainer{
    width:85%;
    height: 90%;
    display:inline-block;
}

.playerContainer{
    height: 10%;
    width: 100%;
    background-color: red;
    display: inline-flex;
    justify-content: space-around;
}

.player1, .player2{
    border:1px solid black;
    height:90%;
    width: 20%;
    display: inline-block;
    text-align:center;
    font-size: 2rem;
}

.gameContainer{
    height:90%;
    width:100%;
    background-color: grey;
}

.tokenHoverContainer{
    width: 80%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    padding-top: 1%;
}

.tokenHoverContainer > div{
    width: 14%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
}

.tokenHoverContainer  img{
    height: 100%;
}
.faux{
    display:none;
    height:100%;
}
.gameboard{
    width: 80%;
    height:70%;
    margin:auto;
    display:flex;
    flex-flow: column wrap;
}

.gameboard > div{
    width: 14.2857%;
    height: 15.5%;
    background-color: lightcyan;
    border: 1px solid black;

}
.tokenActive {
    position:absolute;
    /*height:;*/
    width:50px;
    height:50px !important;
    /*z-index:100;*/
    transform:translateX(25%);
}
.fauxToken{
    height:100%;
    transform:translateX(25%);
}

.winBox{
    height: 10%;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    font-size: 3rem;
    text-align: center;
}